/* @import url("https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"); */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap');

:root {
	--nav-width: 15vw;
	--primary: #9C82CC;
	--surface: #0B021A;
	--active: #B953D0;
	--accent: #28AFB0;
	--secondary: #856BB1;
	--header-height: 2em;
	--header-fontsize: 2em;
}

@keyframes sticky-parallax-header-move-and-size {
	from {
		background-position: 50% 0;
		background-color: transparent;
		height: 100vh;
		color: var(--active);
		font-size: calc(4vw + 1em);
	}
	to {
		background-position: 50% 100%;
/*		background: linear-gradient(to bottom, var(--active), transparent);*/
		background: hsl(from var(--active) h s l / 75%);
		color: var(--surface);
		height: var(--header-height);
		font-size: var(--header-fontsize);
	}
}
@keyframes make-visible {
	from { opacity: 1; }
	25% { opacity: 0; }
	to { opacity: 1; }
}
@keyframes minimap-bg {
	from { top: 0; }
	to { top: 100%; }
}

html {
	/* 	color-scheme: light dark; */
	scroll-snap-type: y mandatory;
	scroll-snap-align: start;
}

body {
/*	background-color: #0B021A;*/
	color: var(--primary);
	font-family: "Readex Pro", sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: "HEXP" 0;
/*	margin-left: var(--nav-width);*/
	margin: auto;
	margin-top: 100vh;
	width: 60%;
}

a {
	color: var(--active);
	text-decoration-color: transparent;
	transition: all 0.2s ease;

	&:hover {
		background: var(--secondary);
		text-decoration-color: var(--accent);
		text-decoration-thickness: 2px;
		/* 		box-shadow: 0 3px 0 #28AFB0; */
	}
}

#main-nav {
	position: fixed;
	left: 1em;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: 50vh;
	justify-content: space-between;
	width: calc(var(--nav-width) - 1em);
	animation: make-visible;
	animation-timeline: scroll();
	animation-range: 0vh 80vh;

	& ul {
		display: contents;
	}
}

#main-nav>ul>li {
	list-style: none;
	transition: all 0.15s ease;
	margin: 1em;
	padding: 5px;
}
#main-nav>ul>li.active {
	background-color: var(--active);

	& a {
		color: var(--surface);
	}
}

#main-nav>ul>li>a {
	color: var(--secondary);
	cursor: pointer;
	transition: all 0.3s ease;
}

#main-nav>ul>li:hover {
	transform: scale(1.5);
	transform-origin: left;

	& a {
		background: none;
	}
}



#main-header > h1 {
	z-index: 10;
	position: fixed;
	inset: 0;
	text-align: center;
	margin: 0 auto;
	align-content: center;
	height: var(--header-height);
/*	box-shadow: 0 -2px 10px var(--accent);*/
	animation: sticky-parallax-header-move-and-size linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 80vh;
	font-weight: normal;

	& emph {
		font-weight: bold;
	}
}

section {
	min-height: calc(100vh - 2*var(--header-height));
	scroll-snap-align: start;
	padding-top: calc(2*var(--header-height));
	display: flex;
	flex-direction: column;
	
	& h2 {
		font-size: 4rem;
		text-wrap: balance;
		color: var(--active);
	}

	& p {
		font-size: 1.1rem;
		text-wrap: balance;
	}
}

@media screen and (max-width: 720px) {
	:root {
		--header-fontsize: 1.25em;
		--header-height: 3em;
	}

	#main-nav {
		top: calc(2*var(--header-height));
		transform: none;
		font-size: x-small;
		flex-direction: row;
		overflow-x: auto;
		height: unset;
		width: unset;
		border-bottom: 1px solid;

		& li {
			margin: none;
		}
	}

/*	#main-header > h1 {
		font-size: var(--);
	}*/

	body {
		padding: 10px;
		width: 100%;
	}

	section {
		& h2 {
			font-size: 2rem;
		}

		& p {
			text-align: justify;
		}
	}
}